/*Formato*/
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(208, 224, 255);
}
header nav, footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
footer{
    padding: 5px;
}
a{
    text-decoration: none;
    font-style: normal;
    color: aliceblue;
    padding: 2px;
    border-radius: 5px;
}
a:hover{
    background-color: rgb(88, 86, 86);
}

/*Bienveniva(inicio)*/
#bien{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    padding: 10px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.secciones{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

h3{
    font: inherit;
    flex:1;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;   
}
.secciones p{
    flex: auto;
}
ul{
    display: flex;
    text-align: center;
    align-items: center;
}
li{
    list-style: none;
    flex: auto;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 5px;    
}
ul > img{
    flex:auto;
    align-items:center;
    padding: 10px;
    margin: 5px;  
}
.nos{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.proye{
    display: flex;
    flex-direction: column;
}
.proye li{
    flex: 1;
    width: 700px;
}
/*Formulario*/
form{
    text-align: center;
}
form input{
    padding: 5px;
    margin: 10px;
    width: 200px;
}